{% extends 'base.html.twig' %}
{% block title %}Genus list{% endblock %}
{% block body %}

    <div class="sea-creature-container">
        <table class="table table-striped">
            {% for genus in genueses %}
                <tr>
                    <td>{{ genus.name }}</td>
                    <td><a href="{{ path('genus_show', {'genusName': genus.name}) }}">{{ genus.name }}</a></td>
                    <td><a href="{{ path('admin_genus_edit', {'id': genus.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
